* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --boxshadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    --hoverscale: scale(1.1);
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: #80ced6;
    box-shadow: var(--boxshadow)
}

body {
    background-color: #618685;
}

body > section {
    margin: 2rem;
    display: grid;
    row-gap: 1rem;
}

#newbook {
    width: 6rem;
    padding: 0.6rem 0;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 700;
    background-color: #d5f4e6;
}

#newbook:hover {
    transform: var(--hoverscale);
}

#newbook:active {
    background-color: #bdd6cc; 
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
}

.book {
    background-color: #fefbd8;
    border-radius: 16px;
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
    position: relative;
    box-shadow: var(--boxshadow);
}

.book h3 {
    font-size: 1.5rem;
}

.toggle-read {
    width: 6rem;
    padding: 0.5rem 0;
    align-self: center;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(216, 190, 43);
}

.toggle-read:hover {
    transform: var(--hoverscale);
}

.toggle-read:active {
    background-color: rgb(199, 176, 49);
}

.toggle-read.read-yes {
    background-color: rgb(43, 216, 121);
}

.toggle-read.read-yes:active {
    background-color: rgb(54, 199, 119);
}

.remove {
    width: 6rem;
    padding: 0.6rem 0;
    justify-self: end;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(214, 70, 70);
    align-self: center;
}

.remove:hover {
    transform: var(--hoverscale);
}

.remove:active {
    background-color: rgb(158, 60, 60);
}