@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.1rem;
    --boxshadow: 0px 5px 5px 0px rgba(126, 102, 81, 0.75);
    --hoverscale: scale(1.1);
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: #ff8daa;
    box-shadow: var(--boxshadow)
}

body {
    background-color: #f6e2b3;
    background-image: url(assets/flower.svg);
    background-size: 125px;
    background-position: top center;
}

body > section {
    margin: 2rem;
    display: grid;
    row-gap: 1rem;
}

button {
    font-size: inherit;
}

#newbook {
    width: 7rem;
    padding: 0.6rem 0;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 700;
    background-color: #fdaeae;
}

#newbook:hover {
    transform: var(--hoverscale);
}

#newbook:active {
    background-color: #dd9a9a; 
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
}

.book {
    background-color: #b49982;
    border-radius: 16px;
    padding: 1rem;
    display: grid;
    row-gap: 1rem;
    position: relative;
    box-shadow: var(--boxshadow);
    color: white;
}

.book h3 {
    font-size: 1.5rem;
}

.toggle-read {
    width: 7rem;
    padding: 0.5rem 0;
    align-self: center;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(216, 190, 43);
}

.toggle-read:hover {
    transform: var(--hoverscale);
}

.toggle-read:active {
    background-color: rgb(199, 176, 49);
}

.toggle-read.read-yes {
    background-color: rgb(43, 216, 121);
}

.toggle-read.read-yes:active {
    background-color: rgb(54, 199, 119);
}

.remove {
    width: 7rem;
    padding: 0.6rem 0;
    justify-self: end;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 12px;
    background-color: rgb(214, 70, 70);
    align-self: center;
}

.remove:hover {
    transform: var(--hoverscale);
}

.remove:active {
    background-color: rgb(158, 60, 60);
}

.reminder-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

dialog {
    margin: auto auto;
    padding: 3rem;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #7e6651;
    box-shadow: var(--boxshadow);
}

form ul {
    list-style: none;
}

.book-inputs {
    display: grid;
    row-gap: 0.5rem;
}

.book-inputs > p, .book-inputs > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.book-inputs label, div > p {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

p > input {
    width: 200px;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #f6e2b3;
    padding: 4px 3px;
    font-size: inherit;
}

p > input::placeholder {
    font-size: 0.8rem;
}

#pages {
    width: 65px;
}

div > ul {
    display: flex;
    gap: 1rem;
}

.book-buttons {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.book-buttons button {
    flex: 1;
    padding: 0.5rem 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
}

.book-buttons button:nth-child(1) {
    background-color: rgb(43, 216, 121);
}

.book-buttons button:nth-child(1):hover {
    transform: var(--hoverscale);
}

.book-buttons button:nth-child(1):active {
    background-color: rgb(54, 199, 119);;
}

.book-buttons button:nth-child(2) {
    background-color: rgb(214, 70, 70);
    color: white;
}

.book-buttons button:nth-child(2):hover {
    transform: var(--hoverscale);
}

.book-buttons button:nth-child(2):active {
    background-color: rgb(158, 60, 60);
}